html {
 font-family: Roboto, sans-serif;
 font-weight: 500;
 font-width: 100;
}

body {
  margin: 0;
  color: blue;
}

.nav__item {
  flex-basis: auto;
}

:root{
  --color-blue: #00acdc;
}

.header {
  color: blue;
  padding-inline: 50px;
  height: 60px;
  justify-content: space-between;
  display: flexbox;
  flex-direction: row;
  text-transform: uppercase;
}

.is_active{
  position: relative;
  color: var(--color-blue);
}

.nav__item a:hover {
  color: var(--color-blue);
}

.is-active::after {
content: "";
position: absolute;
width: 37px;
height: 4px;
background-color: var(--color-blue);
top: 56px;
left: 509px;
border-radius: 8px;
opacity: 1;
}
