html {
 font-family: 'Roboto', sans-serif;
 font-weight: 500px;
 font-width: 100px;
}

body {
  text-transform: uppercase;
  margin: 0;
  color: blue;
}

.nav__item {
  flex-basis: auto;
}

:root{
  --color-blue: #00acdc;
}

header {
  color: blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;
}

.is_active{
  position: relative;
  color: var(--color-blue);
}

.nav__item a:hover {
  color: var(--color-blue);
}

.is-active::after {
content: "";
position: absolute;
width: 37px;
height: 4px;
background-color: var(--color-blue);
top: 56px;
left: 509px;
border-radius: 8px;
opacity: 1;
}
